$fontFamily: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fontSize: 18px/26px;
$fontWeight: normal;
$backgroundImage: url(../img/header_background_v2.jpg);
$borderColor: 1px solid #bdc2c4;
$headerFontColor: #f34d4d;
$buttonBackground: #0000ad;
$buttonColor: #f0f8ff;
$bordeNavigation: 1px solid #d0f4fd;
$mainBackground: #f0f0f0;
$blockBackgroundColor: white;
$postDescriptionColor: #b3b3b3;
$headingsColor: #5b848f;
$mainFontColor: #818181;