$fontFamily: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$fontSize: 15px/24px;
$fontWeight: normal 300;
$backgroundImage: url(../img/header_background_v1.jpg);
$borderColor: 1px solid #638b96;
$headerFontColor: #f0f8ff;
$buttonBackground: #21a7a7;
$buttonColor: #f0f8ff;
$bordeNavigation: 1px solid #638b96;
$mainBackground: #ffffff;
$blockBackgroundColor: #eeeeee;
$postDescriptionColor: #ff0000;
$headingsColor: #21a7a7;
$mainFontColor: #000000;