* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5c5c5c;
  background: #363636;
}
a {
  color: #dadada;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

movies {
  margin-top: 80px;
  display: block;
}
